<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <head jsf:id="head">
        <title>Enter URN</title>
    </head>


    <body jsf:id="body">
        <form jsf:id="form">
            <h:commandButton id="back" value="Back" action="#{userSessionView.back}"/>

            <br/>
            <br/>
            <label>Your case</label>
            <br/>
            <br/>
            <label>What is your Unique Reference Number (URN)?</label>
            <br/>
            <label>On page 1 of the notice, usually at the top.</label>
            <h:inputHidden value="#{userSessionView.currentPage}"/>
            <br/>
            <br/>
            
            <input class="form-control form-control-1-3" id="your-case" name="yourCase" type="text" autofocus="true"/>
            <br/>
            <br/>
            <h:outputText value="Current Page: #{userSessionView.currentPage}"/>
            <br/>
            <br/>
            <h:outputText value="Previous Page: #{userSessionView.previousPage}"/>
            <br/>
            <br/>
            <h:commandButton id="Continue" value="Continue" action="/index?faces-redirect=true"/>
        </form>

    </body>
</html>
