<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <head jsf:id="head">
        <title>Find Your Case</title>
    </head>


    <body jsf:id="body">
        <form jsf:id="form" class="form">

            <br/>
            <br/>
            <h:commandButton id="back" value="Back"  action="#{userSessionView.back}"/>
            <br/>
            <br/>
            <label>Find your case</label>
            <br/>
            <br/>

            <h:inputHidden value="#{userSessionView.currentPage}"/>
            <h:outputText value="Current Page: #{userSessionView.currentPage}"/>
            <br/>
            <br/>
            <h:outputText value="Previous Page: #{userSessionView.previousPage}"/>
            <br/>
            <br/>

            <div class="form-group form-group-compound">
                <label class="form-label-bold" for="reference-number">
                    Case or Unique Reference Number
                </label>
                <br/>
                <br/>                
                <input class="form-control" jsf:id="reference-number" jsf:name="referenceNumber" 
                       type="text" autofocus="true" jsf:value="#{userSessionView.caseRef.urn}"/>
            </div>
            <br/>                
            <br/>
            <details class="details">

                <summary><span class="summary">Where to find this on your notice</span></summary>

                <div class="panel panel-border-narrow">
                    <img class="img-responsive" src="/public/images/sjp-notice.png" srcset="/public/images/sjp-notice.png 1x, /public/images/sjp-notice@2x.png 2x" alt="You can find the case or unique reference number at the top of your notice opposite your address."/>
                </div>

            </details>

            <div class="form-group">
                <label class="form-label-bold" for="your-postcode">
                    Your postcode, as shown on your notice
                </label>
                <br/>                
                <br/>
                <input class="form-control form-control-1-3" jsf:id="your-postcode" jsf:name="yourPostcode" 
                       type="text" autofocus="false" jsf:value="#{userSessionView.caseRef.postCode}"/>
            </div>

            <br/>                
            <br/>

            <div class="form-group form-group-related">
                <button class="button" type="submit" jsf:action="#{userSessionView.findCase}">Continue</button>
            </div>

            <p><a jsf:id="back2" type="submit" jsf:action="#{userSessionView.back}">Back</a></p>

        </form>

    </body>
</html>
