<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:relatedcontent="http://xmlns.jcp.org/jsf/composite/cc"
      xmlns:phasebanner="http://xmlns.jcp.org/jsf/composite/cc"
      xmlns:backlink="http://xmlns.jcp.org/jsf/composite/cc">

 <ui:composition template="/WEB-INF/template.xhtml">

  <ui:define name="title">
   <h:outputText value=""></h:outputText>
  </ui:define>

  <ui:define name="content">
   <form jsf:id="form">
    <input jsf:id="currentPage" jsf:name="currentPage" type="hidden" jsf:value="#{userSessionView.currentPage}"/>


    <main id="content" role="main">

     <phasebanner:phasebanners/>
     <backlink:backlinks/>

     <div class="grid-row">

      <div class="column-two-thirds">

       <h1 class="heading-xlarge">#{bundle.FindYourCaseLabel}</h1>

       <div class="form-group form-group-compound">
        <label class="form-label-bold" for="reference-number">
         #{bundle.CaseOrUniqueReferenceNumber}
        </label>
        <input class="form-control" id="reference-number" name="referenceNumber" type="text">
        </input>
       </div>

       <details class="details">

        <summary><span class="summary">#{bundle.WhereToFindThisOnYourNotice}</span></summary>

        <div class="panel panel-border-narrow">
         <img class="img-responsive" src="/public/images/sjp-notice.png" 
              srcset="/public/images/sjp-notice.png 1x, /public/images/sjp-notice@2x.png 2x" 
              alt="#{bundle.YouCanFindTheCaseOrUniqueReferenceNumberAtTheTopOfYourNoticeOppositeYourAddress}"/>
        </div>

       </details>

       <div class="form-group">
        <label class="form-label-bold" for="your-postcode">
         #{bundle.YourPostcodeAsShownOnYourNotice}
        </label>
        <input class="form-control form-control-1-3" id="your-postcode" name="yourPostcode" type="text">
        </input>
       </div>

       <div class="form-group form-group-related">
        <button class="button" type="submit">#{bundle.Continue}</button>
       </div>

       <p><a href="{{backURL}}">#{bundle.Back}</a></p>
       <h:commandButton id="back" value="Back" action="#{userSessionView.back}"/>
       <ui:remove>
        <p class="font-xsmall text-secondary">#{bundle.BackLink}: <b>#{bundle.Back}</b></p>
       </ui:remove>
      </div>

      <div class="column-one-third">
       <relatedcontent:relatedcontents/>
      </div>

     </div>

    </main>



   </form>
  </ui:define>

 </ui:composition>
</html>

