<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
 <h:head>
  <title>Help and Advice</title>
 </h:head>
 <h:body>
  Help and Advice 
 </h:body>
</html>

