<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:breadcrumb="http://xmlns.jcp.org/jsf/composite/cc"
      xmlns:relatedcontent="http://xmlns.jcp.org/jsf/composite/cc">

 <ui:composition template="/WEB-INF/template.xhtml">

  <ui:define name="title">
   <h:outputText value=""></h:outputText>
  </ui:define>

  <ui:define name="content">
   <form jsf:id="form">
    <input jsf:id="currentPage" jsf:name="currentPage" type="hidden" jsf:value="#{userSessionView.currentPage}"/>

    <main id="content" role="main">

     <breadcrumb:breadcrumbs/>

     <div class="grid-row">

      <div class="column-two-thirds">

       <h1 class="heading-xlarge">#{bundle.MakeAPleaForAnOffence}</h1>

       <p class="lede">#{bundle.UseThisServiceToPleadGuiltyOrNotGuiltyOnline}</p>

       <p>#{bundle.YouMustBeEither}</p>

       <ul class="list list-bullet">
        <li>#{bundle.ThePersonChargedWithTheOffence}</li>
        <li>#{bundle.AnOfficialRepresentativeOfTheCompanyChargedWithTheOffence}</li>
       </ul>

       <div class="form-group">

        <fieldset>

         <legend>
          <span class="form-label-bold">#{bundle.WhoSentYouANotice}</span>
         </legend>

         <ul>
          <ui:repeat id="items" value="#{noticeOptionController.items}" var="item">
           <li class="multiple-choice">
            <input type="radio" jsf:id="item" pt:name="#{hiddenItem.clientId}" value="#{item}" 
                   pt:checked="#{item eq noticeOptionController.selectedItem ? 'checked' : null}" />
            <h:outputLabel for="item" value="#{item}" />
           </li>
          </ui:repeat>
         </ul>

         <input jsf:id="selectedItem" type="hidden" jsf:binding="#{hiddenItem}" 
                jsf:value="#{noticeOptionController.selectedItem}"
                jsf:rendered="#{facesContext.currentPhaseId.ordinal ne 6}" />
        </fieldset>
       </div>

       <div class="form-group">
        <button class="button button-start" type="submit" jsf:id="StartNow" 
                jsf:action="#{userSessionView.start}">#{bundle.StartNow}</button>
       </div>


       <h2 class="heading-medium">#{bundle.BeforeYouStart}</h2>

       <p>#{bundle.ToUseThisServiceYouNeed}</p>

       <ul class="list list-bullet">
        <li>#{bundle.TheSingleJusticeProcedureNoticeSentToYou}</li>
        <li>#{bundle.YourNationalInsuranceNumber}</li>
        <li>#{bundle.DetailsOfYourIncome}</li>
       </ul>

      </div>

      <div class="column-one-third">
       <relatedcontent:relatedcontents/>
      </div>

     </div>

    </main>



   </form>
  </ui:define>

 </ui:composition>
</html>

