<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <head jsf:id="head">
        <title>Enter URN</title>
    </head>


    <body jsf:id="body">
        <form jsf:id="form">
            <h:inputHidden value="#{userSessionView.currentPage}"/>
            <h:commandButton id="back" value="Back" action="#{userSessionView.back}"/>

            <br/>
            <br/>
            <label>Your Details</label>
            <br/>
            <br/>
            <label>Check your name and address</label>
            <br/>
            <label>#{userSessionView.case.firstName}</label>
            <br/>
            <label>#{userSessionView.case.addressline1}</label>
            <span> </span>
            <label>#{userSessionView.case.addressline2}</label>
            <br/>
            <span> </span>
            <label>#{userSessionView.case.city}</label>
            <br/>
            <br/>

            <input class="form-control form-control-1-3" id="your-case" name="yourCase" type="text" autofocus="true"/>
            <br/>
            <br/>
            <h:outputText value="Current Page: #{userSessionView.currentPage}"/>
            <br/>
            <br/>
            <h:outputText value="Previous Page: #{userSessionView.previousPage}"/>
            <br/>
            <br/>
            <h:commandButton id="Continue" value="Continue" action="/index?faces-redirect=true"/>
        </form>

    </body>
</html>
