<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>
        <title><ui:insert name="title">Online Plea</ui:insert></title>
        <h:outputStylesheet name="css/style.css"/>
        <style>
            * { margin: 0; padding: 0; }
        </style>
    </h:head>

    <h:body title="Error Name" style="background: transparent;">
        <ui:insert name="body" />
    </h:body>

</html>

