<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <h:head>
        <meta charset="utf-8" />
        <meta name="theme-color" content="#0b0c0c" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta property="og:image" content="#{resource['images/opengraph-image.png']}"/>

        <link rel="shortcut icon" href="resources/images/favicon.ico" type="image/x-icon"/>
        <link rel="mask-icon" href="#{resource['images/gov.uk_logotype_crown.svg']}" color="#0b0c0c"/>
        <link rel="apple-touch-icon" sizes="180x180" href="#{resource['images/apple-touch-icon-180x180.png']}"/>
        <link rel="apple-touch-icon" sizes="167x167" href="#{resource['images/apple-touch-icon-167x167.png']}"/>
        <link rel="apple-touch-icon" sizes="152x152" href="#{resource['images/apple-touch-icon-152x152.png']}"/>
        <link rel="apple-touch-icon" href="#{resource['images/apple-touch-icon.png']}"/>

        <h:outputStylesheet library="stylesheets" name="govuk-template.css" media="screen"  />
        <h:outputStylesheet library="stylesheets" name="govuk-template-print.css"  media="print"  />
        <h:outputStylesheet library="stylesheets" name="fonts.css"  media="all"  />
        <h:outputStylesheet  name="css/main.css" media="all"  />

        <ui:insert name="title">
            <title>Make a plea for an offence - GOV.UK</title>
        </ui:insert>
    </h:head>

    <h:body>
        <script>
            document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
        </script>

        <div id="skiplink-container">
            <div>
                <a href="#content" class="skiplink">Skip to main content</a>
            </div>
        </div>

        <div id="global-cookie-message">

            <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>

        </div>

        <header role="banner" id="global-header" class="">
            <div class="header-wrapper">
                <div class="header-global">
                    <div class="header-logo">
                        <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
                            <h:graphicImage  value="#{resource['images/gov.uk_logotype_crown_invert_trans.png']}" width="36" height="32" alt=""/> GOV.UK
                        </a>
                    </div>

                </div>

            </div>
        </header>

        <div id="global-header-bar"></div>
        <div id="content">
            <form jsf:id="form">
                <ui:insert name="content">Content</ui:insert>
            </form>
        </div>

        <div id="bottom">
            <footer class="group js-footer" id="footer" role="contentinfo">

                <div class="footer-wrapper">

                    <div class="footer-meta">
                        <div class="footer-meta-inner">

                            <ul>
                                <li><a href="/about">About</a></li>
                                <li><a href="/terms-and-conditions">Terms and conditions</a></li>
                                <li><a href="/privacy-policy">Privacy policy</a></li>
                                <li><a href="/cookies">Cookies</a></li>
                            </ul>

                            <div class="open-government-licence">
                                <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>

                                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>

                            </div>
                        </div>

                        <div class="copyright">
                            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/"> <h:outputText value="&amp;copy;" escape="false" /> Crown copyright</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </h:body>

</html>