<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      lang="en">
    <!--<![endif]-->
    <head jsf:id="head">
        <meta charset="utf-8" />
        <title>GOV.UK - The best place to find government services and information</title>

        <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="#{request.contextPath}/resources/stylesheets/govuk-template.css"/><!--<![endif]-->
        <!--[if IE 6]><link rel="stylesheet" media="screen" href="#{request.contextPath}/resources/stylesheets/govuk-template-ie6.css"/><![endif]-->
        <!--[if IE 7]><link rel="stylesheet" media="screen" href="#{request.contextPath}/resources/stylesheets/govuk-template-ie7.css"/><![endif]-->
        <!--[if IE 8]><link rel="stylesheet" media="screen" href="#{request.contextPath}/resources/stylesheets/govuk-template-ie8.css"/><![endif]-->
        <link rel="stylesheet" media="print" href="#{request.contextPath}/resources/stylesheets/govuk-template-print.css"/>

        <!--[if IE 8]><link rel="stylesheet" media="all" href="#{request.contextPath}/resources/stylesheets/fonts-ie8.css"/><![endif]-->
        <!--[if gte IE 9]><!--><link rel="stylesheet" media="all" href="#{request.contextPath}/resources/stylesheets/fonts.css"/><!--<![endif]-->
        <!--[if lt IE 9]><script src="#{request.contextPath}/resources/javascripts/ie.js"></script><![endif]-->

        <link rel="shortcut icon" href="#{request.contextPath}/resources/images/favicon.ico" type="image/x-icon" />
        <link rel="mask-icon" href="#{request.contextPath}/resources/images/gov.uk_logotype_crown.svg" color="#0b0c0c"/>
        <link rel="apple-touch-icon" sizes="180x180" href="#{request.contextPath}/resources/images/apple-touch-icon-180x180.png"/>
        <link rel="apple-touch-icon" sizes="167x167" href="#{request.contextPath}/resources/images/apple-touch-icon-167x167.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="#{request.contextPath}/resources/images/apple-touch-icon-152x152.png"/>
        <link rel="apple-touch-icon" href="#{request.contextPath}/resources/images/apple-touch-icon.png"/>

        <meta name="theme-color" content="#0b0c0c" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta property="og:image" content="#{request.contextPath}/resources/images/opengraph-image.png"/>
    </head>






    <h:body>
        <script>
            document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
        </script>




        <div id="skiplink-container">
            <div>
                <a href="#content" class="skiplink">Skip to main content</a>
            </div>
        </div>

        <div id="global-cookie-message">

            <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>

        </div>


        <header role="banner" id="global-header" class="">
            <div class="header-wrapper">
                <div class="header-global">
                    <div class="header-logo">
                        <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
                            <img src="#{request.contextPath}/resources/images/govuklogotypecrowninverttrans.png" width="36" height="32" alt=""/> GOV.UK
                        </a>
                    </div>

                </div>

            </div>
        </header>
        <div id="global-header-bar"></div>
        <div id="content">
            <ui:insert name="content">Content</ui:insert>
        </div>

        <div id="bottom">
            <footer class="group js-footer" id="footer" role="contentinfo">

                <div class="footer-wrapper">

                    <div class="footer-meta">
                        <div class="footer-meta-inner">

                            <ul>
                                <li><a href="/about">About</a></li>
                                <li><a href="/terms-and-conditions">Terms and conditions</a></li>
                                <li><a href="/privacy-policy">Privacy policy</a></li>
                                <li><a href="/cookies">Cookies</a></li>
                            </ul>

                            <div class="open-government-licence">
                                <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>

                                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>

                            </div>
                        </div>

                        <div class="copyright">
                            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/"> Crown copyright</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </h:body>

</html>