<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cookie="http://xmlns.jcp.org/jsf/composite/cc"
      xmlns:breadcrumb="http://xmlns.jcp.org/jsf/composite/cc"
      xmlns:relatedcontent="http://xmlns.jcp.org/jsf/composite/cc"
      xmlns:phasebanner="http://xmlns.jcp.org/jsf/composite/cc"
      xmlns:backlink="http://xmlns.jcp.org/jsf/composite/cc">
 <h:head>
  <title>Cookies</title>
 </h:head>

 <h:body>
  <cookie:cookies/>
  <breadcrumb:breadcrumbs/>
  <relatedcontent:relatedcontents/>
  <phasebanner:phasebanners/>
  <backlink:backlinks/>

 </h:body>
</html>

