$title-font: normal 24px/1.5 'Open Sans', sans-serif;
$cool-blue: #FFFFF;
$box-shadow-bottom-only: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
@import "govuk-elements";

h1.title {
  font: $title-font;
  color: $govuk-blue;
}

div.container {
  color: $cool-blue;
  background: #ffff;
  width: 90%;
  box-shadow: $box-shadow-bottom-only;
}